<div>

  <div class="d-flex row mt-10 flex-wrap">
    <div class="grid-2">
      <div class="left">
        <mat-card layout-align="center">

          <h2 class="heading-main">Pre-formatted Excel</h2>

        </mat-card>

      </div>
    </div>

    <div class="grid-2">
      <div class="right">

        <mat-card layout-align="center">

          <h2 class="heading-main">Web Online Application Forms</h2>
          <p>
            <img src="assets/img/icn_delete.svg" alt="" />
          </p>

          <button mat-raised-button color="primary">Fill Now</button>
        </mat-card>

      </div>
    </div>

  </div>

</div>

<app-home-endpoints></app-home-endpoints>