<h2 class="heading-main">Product Provider Admin - Policy Administration</h2>

<mat-card>
    <h2 class="heading-main">API Endpoints <span>(carmvp.microserver.com/(endpoint)</span></h2>
    <app-api-endpoints></app-api-endpoints>
</mat-card>

<div class="row">
    <div class="col-md-6">
        <mat-card>
            <app-policy-admin-endpoint></app-policy-admin-endpoint>
        </mat-card>
    </div>

    <div class="col-md-6">

        <app-policy-admin-enpoint-code></app-policy-admin-enpoint-code>
    </div>

</div>