<h2 class="heading-main">Application Details</h2>

<mat-card class="no-gutter">
  <mat-card-content>
    <app-table-quotation [tableData]="quotation"></app-table-quotation>
  </mat-card-content>
</mat-card>

<h2 class="heading-main">Specified Motor Vehicle</h2>

<mat-card class="no-gutter">
  <mat-card-content>
    <app-table-quotation [tableData]="specifiedMotorVehicle"></app-table-quotation>
  </mat-card-content>
</mat-card>

<h2 class="heading-main">Clauses & Extensions</h2>

<mat-card class="no-gutter">
  <mat-card-content>
    <app-table-quotation [tableData]="clausesAndExtensions"></app-table-quotation>
  </mat-card-content>
</mat-card>

<h2 class="heading-main">Comments</h2>
<div class="card-comment">
  <mat-card layout-align="center">
    <div class="form-group">
      <label>Create your comment</label>
      <textarea class="customInput" placeholder="Type"> </textarea>
    </div>
  </mat-card>
</div>
<div class="mt-30 text-right">
  <button mat-raised-button class="btn-large" type="submit" color="primary">Update</button>
</div>