<div class="responsive-table">
  <table mat-table [dataSource]="dataSource" matSort>

    <!-- sections Column -->
    <ng-container matColumnDef="sections">
      <th mat-header-cell *matHeaderCellDef> {{tableMeta?.component == 'allComponent' ? ' ' : 'Sections'}} </th>
      <td mat-cell *matCellDef="let element"> {{element.sections}} </td>
    </ng-container>

    <!-- sumInsuredMin Column -->
    <ng-container matColumnDef="sumInsuredMin">
      <th mat-header-cell *matHeaderCellDef> {{tableMeta?.component == 'allComponent' ? ' ' : 'Sum Insured Min.'}} </th>
      <td mat-cell *matCellDef="let element"> {{element.sumInsuredMin}} </td>
    </ng-container>

    <!-- sumInsuredMax Column -->
    <ng-container matColumnDef="sumInsuredMax">
      <th mat-header-cell *matHeaderCellDef> {{tableMeta?.component == 'allComponent' ? ' ' : 'Sum Insured Max.'}} </th>
      <td mat-cell *matCellDef="let element"> {{element.sumInsuredMax}} </td>
    </ng-container>

    <!-- rate Column -->
    <ng-container matColumnDef="rate">
      <th mat-header-cell *matHeaderCellDef> {{tableMeta?.component == 'allComponent' ? ' ' : 'Rate %'}} </th>
      <td mat-cell *matCellDef="let element">

        <custom-select placeholder="Manual" class="min-width">
          <custom-select-option key="1" value="Manual"></custom-select-option>
          <custom-select-option key="2" value="Rate Table"></custom-select-option>
          <custom-select-option key="3" value="Formula"></custom-select-option>
          <custom-select-option key="4" value="Set. Value"></custom-select-option>
          <custom-select-option key="5" value="Ext. API"></custom-select-option>
        </custom-select>
      </td>
    </ng-container>

    <!-- overridePremium Column -->
    <ng-container matColumnDef="overridePremium">
      <th mat-header-cell *matHeaderCellDef> {{tableMeta?.component == 'allComponent' ? ' ' : 'Override Premium %'}}
      </th>
      <td mat-cell *matCellDef="let element">

        <custom-select placeholder="Default Value" class="min-width">
          <custom-select-option key="1" value="Default Value"></custom-select-option>
          <custom-select-option key="2" value="xxxx"></custom-select-option>
        </custom-select>
      </td>
    </ng-container>

    <!-- possibleTypes Column -->
    <ng-container matColumnDef="possibleTypes">
      <th mat-header-cell *matHeaderCellDef> {{tableMeta?.component == 'allComponent' ? ' ' : 'Possible Types/ Values'}}
      </th>
      <td mat-cell *matCellDef="let element">

        <custom-select placeholder="Manual" class="min-width">
          <custom-select-option key="1" value="Manual"></custom-select-option>
          <custom-select-option key="2" value="Rate Table"></custom-select-option>
          <custom-select-option key="3" value="Formula"></custom-select-option>
          <custom-select-option key="4" value="Set. Value"></custom-select-option>
          <custom-select-option key="5" value="Ext. API"></custom-select-option>
        </custom-select>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
