<div class="table-responsive">
  <table mat-table [dataSource]="dataSource">

    <!--  endpoint Column -->
    <ng-container matColumnDef="endpoint">
      <th mat-header-cell *matHeaderCellDef> Endpoint </th>
      <td mat-cell *matCellDef="let element"> {{element.endpoint}} </td>
    </ng-container>

    <!--  requestType Column -->
    <ng-container matColumnDef="requestType">
      <th mat-header-cell *matHeaderCellDef> POST/GET </th>
      <td mat-cell *matCellDef="let element"> {{element.requestType}} </td>
    </ng-container>

    <!--  queries Column -->
    <ng-container matColumnDef="queries">
      <th mat-header-cell *matHeaderCellDef> Queries </th>
      <td mat-cell *matCellDef="let element"> {{element.queries}} </td>
    </ng-container>

    <!--  totalQueries Column -->
    <ng-container matColumnDef="totalQueries">
      <th mat-header-cell *matHeaderCellDef> Total Queries </th>
      <td mat-cell *matCellDef="let element"> {{element.totalQueries}} </td>
    </ng-container>

    <!--  enabled Column -->
    <ng-container matColumnDef="enabled">
      <th mat-header-cell *matHeaderCellDef> Enabled </th>
      <td mat-cell *matCellDef="let element"> {{element.enabled}} </td>
    </ng-container>

    <!--  action Column -->
    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef> Action </th>
      <td mat-cell *matCellDef="let element">
        <button class="btn-small" mat-stroked-button color="primary">Edit</button>
      </td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
