<h2 class="heading-main">Endpoint: /Quote</h2>

<h2 class="heading-main">Query Information</h2>
<app-policy-admin-endpoint-edit></app-policy-admin-endpoint-edit>

<h2 class="heading-main">Response Details</h2>
<app-policy-admin-endpoint-edit></app-policy-admin-endpoint-edit>


<h2 class="heading-main">Comments</h2>
<div class="card-comment">
    <mat-card layout-align="center">
        <div class="form-group">
            <label>Create your comment</label>
            <textarea class="customInput" placeholder="Type"> </textarea>
        </div>
    </mat-card>
</div>