<div class="component-stage d-flex align-items-center justify-content-center">
    <div class="stage-wrapper">
        <div class="stage-img">
            <img src="assets/img/payment-success.svg" alt="" /> 
        </div>
        <div class="stage-content">
            <h4>Thank you for your payment, your policy is being issued and signed documents will be sent to you via e-mail</h4>
            <button mat-raised-button class="btn-large" type="submit" color="primary">Go Back</button>
        </div>
    </div>
</div>