<mat-toolbar>
  <mat-toolbar-row>
    <h1>LOGO</h1>

    <p>Car Insurance Microserver </p>

    <span c lass="menu-spacer"></span>

    <div>
      <a mat-button [routerLink]="'/home'"> Home </a>
      <a mat-button> Car Product Info </a>
      <a mat-button> API Documentation </a>
      <a mat-button> Client Register/Login </a>
      <a mat-button> Admin Login </a>

      <span class="head-lang">
        <custom-select placeholder="En">
          <custom-select-option key="1" value="En"></custom-select-option>
          <custom-select-option key="2" value="Fr"></custom-select-option>
        </custom-select>
      </span>

    </div>

  </mat-toolbar-row>
