<mat-horizontal-stepper linear>
  <mat-step>
    1. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates facere dolorum nulla fugit animi odit
    tenetur esse saepe ad porro magnam molestias temporibus modi laborum dolor harum, architecto ipsam libero?
  </mat-step>

  <mat-step>
    2. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates facere dolorum nulla fugit animi odit
    tenetur esse saepe ad porro magnam molestias temporibus modi laborum dolor harum, architecto ipsam libero?
  </mat-step>

  <mat-step>
    3. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates facere dolorum nulla fugit animi odit
    tenetur esse saepe ad porro magnam molestias temporibus modi laborum dolor harum, architecto ipsam libero?
  </mat-step>

  <mat-step>
    4. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates facere dolorum nulla fugit animi odit
    tenetur esse saepe ad porro magnam molestias temporibus modi laborum dolor harum, architecto ipsam libero?
  </mat-step>

</mat-horizontal-stepper>
