:host {
  display: block;
  padding: 0 0.875rem;
  height: 2.5rem;
  line-height: 2.5rem;
  color: #333;
  background-color: #fff;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  user-select: none;
  cursor: pointer;
  border-radius: 5px;

  &.selected {
    background-color: #EBF1FF;
    font-weight: 600;
    color: #4080fe;
    
    &:hover, &.active {
      background-color: #EBF1FF;

      @media screen and (-ms-high-contrast: active) {
        background-color: #EBF1FF;
      }
    }
  }

  &:hover, &.active {
    outline: none;
    background-color: #EBF1FF;

    @media screen and (-ms-high-contrast: active) {
      background-color: #EBF1FF;
    }
  }

  &.disabled {
    color: #93a1aa;
    cursor: auto;

    &:hover, &:focus {
      outline: none;
      background-color: #fff;

      @media screen and (-ms-high-contrast: active) {
        background-color: #fff;
      }
    }
  }
}