.input-wrapper {
  position: relative;

  .input {
    position: relative;
    margin: 0;
    outline: 0;

    input {
      line-height: 1.3125rem;
    border-bottom: 0;
    text-overflow: ellipsis;
    white-space: normal;
    overflow: hidden;
    padding-right: 26px !important;
    outline: 0;
    cursor: pointer;
    font-size: inherit;
    width: 100%;
    height: 40px;
    border-radius: 8px;
    border: 1px solid #d4d3e0;
    padding: 10px;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    color: #000;
    transition: 300ms all;
    background: #fafafd;

    &:hover {
      border-color: #b8ccff;
      outline: none;
    }
      &:focus {
        outline: none;
        border-color: #4080fe;
      }
    }

    .dropdown-arrow {
      position: absolute;
      color: inherit;
      right: 15px;
      top: 10px;
      cursor: pointer;
    }

    &.required label:after {
      color: red;
      content: "*";
      position: relative;
      left: 5px;
      bottom: 5px;
    }
  }
}

.dropdown-options-container {
  width: 100%;
    border-radius: 5px;
    box-shadow: none;
    display: block;
    overflow: auto;
    min-width: 170px;
    background: #FAFAFD;
    border: 1px solid #D4D3E0;
    font-size: 14px;
    margin-top: 10px;
}
