<h2 class="heading-main">Edit Recieving Payment Details</h2>
<div class="model-close" mat-dialog-close>
  <img src="assets/img/icn_close.svg" alt="" />
</div>
<div mat-dialog-actions>

  <div class="model-wrapper row">
    <div class="grid-1">
      <div class="row">
        <div class="grid-2 mb-25">
          <div class="custom-ra">
            <label>Stripe Enabled</label>
            <mat-radio-group aria-label="Select an option">
              <mat-radio-button value="1">Enabled</mat-radio-button>
              <mat-radio-button value="2">Disabled</mat-radio-button>
            </mat-radio-group>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label>Stripe Account</label>
        <input class="customInput" placeholder="Text" type="text">
      </div>
      <div class="row">
        <div class="grid-2 mb-25">
          <div class="custom-ra">
            <label>Paypal Enabled</label>
            <mat-radio-group aria-label="Select an option">
              <mat-radio-button value="1">Enabled</mat-radio-button>
              <mat-radio-button value="2">Disabled</mat-radio-button>
            </mat-radio-group>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label>Paypal Account</label>
        <input class="customInput" placeholder="Text" type="text">
        <div class="btn-right mt-20">
          <button mat-raised-button class="btn-small" color="primary">
            Paypal Enabled
          </button>
        </div>
      </div>
      <div class="form-group">
        <label>Bank Name</label>
        <input class="customInput" placeholder="Text" type="text">
      </div>
    </div>
  </div>
  <div class="btn-right">
    <button mat-raised-button class="btn-medium" color="primary">
      Update Payment Settings
    </button>
  </div>
</div>
