<h2 class="heading-main">Product Provider Admin - Policy Administartion</h2>

<div>
    <mat-card layout-align="center">

        <div class="d-flex row mt-10 flex-wrap">
            <div class="grid-2">
                <h2 class="heading-main">
                    API Endpoints available on this microserver
                </h2>
            </div>

            <div class="grid-2">
                <h2 class="heading-main">
                    Reset Password
                </h2>
            </div>

        </div>

    </mat-card>
</div>

<div class="mt-30">
    <mat-card layout-align="center">

        <div class="d-flex row mt-10 flex-wrap">
            <div class="grid-2">
                <h2 class="heading-main">
                    User Access Rights
                </h2>
                User Types

                <div class="d-flex row mt-10 flex-wrap">
                    <div class="grid-3">
                        <mat-list role="list">
                            <mat-list-item role="listitem">Admin
                            </mat-list-item>

                            <mat-list-item role="listitem">Process Only
                            </mat-list-item>

                        </mat-list>
                    </div>

                    <div class="grid-3">
                        <mat-list role="list">
                            <mat-list-item role="listitem">
                                <a class="btn-action" matTooltip="Edit" matTooltipPosition="above"
                                    matTooltipClass="custom-tooltip">
                                    <img src="assets/img/icn_edit _blue.svg" alt="" />
                                </a>
                            </mat-list-item>
                            <mat-list-item role="listitem">
                                <a class="btn-action" matTooltip="Edit" matTooltipPosition="above"
                                    matTooltipClass="custom-tooltip">
                                    <img src="assets/img/icn_edit _blue.svg" alt="" />
                                </a>

                            </mat-list-item>
                        </mat-list>
                    </div>

                    <div class="grid-3">
                        <mat-list role="list">
                            <mat-list-item role="listitem">
                                <a class="btn-action" matTooltip="Edit" matTooltipPosition="above"
                                    matTooltipClass="custom-tooltip">
                                    <img src="assets/img/icn_delete.svg" alt="" />
                                </a>
                            </mat-list-item>
                            <mat-list-item role="listitem">
                                <a class="btn-action" matTooltip="Edit" matTooltipPosition="above"
                                    matTooltipClass="custom-tooltip">
                                    <img src="assets/img/icn_delete.svg" alt="" />
                                </a>

                            </mat-list-item>
                        </mat-list>
                    </div>

                </div>
            </div>

            <div class="grid-2">
                <h2 class="heading-main">
                    Users
                </h2>



                <div class="d-flex row mt-10 flex-wrap">
                    User
                    <div class="grid-6">
                        <mat-list role="list">
                            <mat-list-item role="listitem">process01
                            </mat-list-item>

                            <mat-list-item role="listitem">admin01
                            </mat-list-item>

                        </mat-list>
                    </div>

                    Email
                    <div class="grid-6">
                        <mat-list role="list">
                            <mat-list-item role="listitem">p@insure.com
                            </mat-list-item>

                            <mat-list-item role="listitem">admin@insure.com
                            </mat-list-item>

                        </mat-list>
                    </div>

                    Rights
                    <div class="grid-6">
                        <mat-list role="list">
                            <mat-list-item role="listitem">process only
                            </mat-list-item>

                            <mat-list-item role="listitem">admin
                            </mat-list-item>

                        </mat-list>
                    </div>

                    Action
                    <div class="grid-6">
                        <mat-list role="list">
                            <mat-list-item role="listitem">
                                <a class="btn-action" matTooltip="Edit" matTooltipPosition="above"
                                    matTooltipClass="custom-tooltip">
                                    <img src="assets/img/icn_edit _blue.svg" alt="" />
                                </a>
                            </mat-list-item>
                            <mat-list-item role="listitem">
                                <a class="btn-action" matTooltip="Edit" matTooltipPosition="above"
                                    matTooltipClass="custom-tooltip">
                                    <img src="assets/img/icn_edit _blue.svg" alt="" />
                                </a>
                            </mat-list-item>
                        </mat-list>
                    </div>

                    <div class="grid-6">
                        <mat-list role="list">
                            <mat-list-item role="listitem">
                                <a class="btn-action" matTooltip="Delete" matTooltipPosition="above"
                                    matTooltipClass="custom-tooltip">
                                    <img src="assets/img/icn_delete.svg" alt="" />
                                </a>
                            </mat-list-item>
                            <mat-list-item role="listitem">
                                <a class="btn-action" matTooltip="Delete" matTooltipPosition="above"
                                    matTooltipClass="custom-tooltip">
                                    <img src="assets/img/icn_delete.svg" alt="" />
                                </a>

                            </mat-list-item>
                        </mat-list>
                    </div>

                </div>
            </div>

        </div>

    </mat-card>
</div>

<div class="mt-30">
    <mat-card layout-align="center">

        <div class="d-flex row mt-10 flex-wrap">
            <div class="grid-2">
                <h2 class="heading-main">
                    Product Authorization
                </h2>
            </div>

            <div class="grid-2">
                <h2 class="heading-main">
                    Payments
                </h2>
            </div>

        </div>

    </mat-card>
</div>

<div class="mt-30">
    <mat-card layout-align="center">

        <div class="d-flex row mt-10 flex-wrap">
            <div class="grid-2">
                <h2 class="heading-main">
                    API/ Data Rights
                </h2>

                API/ Access Types

                <div class="d-flex row mt-10 flex-wrap">
                    <div class="grid-2">
                        <mat-list role="list">
                            <mat-list-item role="listitem">Super user(all)
                            </mat-list-item>

                            <mat-list-item role="listitem">Query Data (internal)
                            </mat-list-item>

                            <mat-list-item role="listitem">Quote and Pay
                            </mat-list-item>

                        </mat-list>
                    </div>

                    <div class="grid-2">
                        <mat-list role="list">
                            <mat-list-item role="listitem">
                                <a class="btn-action" matTooltip="Delete" matTooltipPosition="above"
                                    matTooltipClass="custom-tooltip">
                                    <img src="assets/img/icn_delete.svg" alt="" />
                                </a>
                            </mat-list-item>
                            <mat-list-item role="listitem">
                                <a class="btn-action" matTooltip="Delete" matTooltipPosition="above"
                                    matTooltipClass="custom-tooltip">
                                    <img src="assets/img/icn_delete.svg" alt="" />
                                </a>
                            </mat-list-item>
                            <mat-list-item role="listitem">
                                <a class="btn-action" matTooltip="Delete" matTooltipPosition="above"
                                    matTooltipClass="custom-tooltip">
                                    <img src="assets/img/icn_delete.svg" alt="" />
                                </a>

                            </mat-list-item>
                        </mat-list>
                    </div>

                </div>
            </div>

            <div class="grid-2">
                <h2 class="heading-main">
                    Server/ Billing Information
                </h2>
            </div>

        </div>

    </mat-card>
</div>