<h2 class="heading-main">Sitemap</h2>

<mat-card>
  <mat-card-content>
    <ul class="sitemap">
      <li class="grid-4">
        <a [routerLink]="['/home']">
          Home
        </a>
      </li>
      <li class="grid-4">
        <a [routerLink]="['/product-application-funnel']">
          Product Application Funnel
        </a>
      </li>
      <li class="grid-4">
        <a [routerLink]="['/admin/policy-administration']">
          Policy Administration
        </a>
      </li>
      <li class="grid-4">
        <a [routerLink]="['/admin/administartion-settings']">
          Administration Settings
        </a>
      </li>
      <li class="grid-4">
        <a [routerLink]="['/admin/quotation1']">
          Process of Quotation
        </a>
      </li>
      <li class="grid-4">
        <a [routerLink]="['/admin/product-provider']">
          Product Provider
        </a>
      </li>
      <li class="grid-4">
        <a [routerLink]="['/payment-error']">
          Error Payment
        </a>
      </li>
      <li class="grid-4">
        <a [routerLink]="['/payment-success']">
          Success Payment
        </a>
      </li>
      <li class="grid-4">
        <a [routerLink]="['/not-found']">
          404 Error
        </a>
      </li>
      <li class="grid-4">
        <a [routerLink]="['/auth/login']">
          Login
        </a>
      </li>
      <li class="grid-4">
        <a [routerLink]="['/auth/forgot-password']">
          Forgot Password
        </a>
      </li>
      <li class="grid-4">
        <a [routerLink]="['/newsletter']">
          Newsletter
        </a>
      </li>
      <li class="grid-4">
        <a [routerLink]="['/admin/modals']">
          Modals
        </a>
      </li>
      <li class="grid-4">
        <a [routerLink]="['/admin/all-components']">
          All components
        </a>
      </li>
    </ul>
  </mat-card-content>
</mat-card>