@media(max-width:991px) {

  .mat-checkbox-layout .mat-checkbox-label,
  .form-group label,
  .fgot-pass {
    font-size: 13px;
  }

  .mat-raised-button.mat-primary {
    padding: 0 36px;
  }

}

@media only screen and (min-device-width: 375px) and (max-device-height: 812px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3) {
  .login-wrapper>div {
    padding: 126px 0 0;
  }

  .logo {
    top: 0;
  }

}
@media screen and (max-width: 1249px){
.responsive-table {
    width: 100%;
    overflow-y: hidden;
    -ms-overflow-style: -ms-autohiding-scrollbar;
  }
  .responsive-table>table>tbody>tr>td, .responsive-table>table>tbody>tr>th, .responsive-table>table>tfoot>tr>td, .responsive-table>table>tfoot>tr>th, .responsive-table>table>thead>tr>td, .responsive-table>table>thead>tr>th {
    white-space: nowrap;
    padding: 8px;
}
}
@media(max-width:767px) {
  mat-card.alert {
    padding: 15px;
    border-radius: 8px;
    line-height: 24px;
    font-size: 14px;
}
  .grid-2, .grid-3 {
    flex: 0 0 100%;
    max-width: 100%;
    width: 100%;
  }
  .d-flex {
    flex-direction: column;
}
  .login-form {
    height: initial;
    padding: 0 20px;
  }
  .payment-card > div > div + div {
    margin-top: 15px;
}
  .login-wrapper {
    flex-direction: column;
  }

  .logo {
    padding: 0 20px 20px;
    position: static;
  }

  .login-left {
    padding: 20px 0;
  }

  .login-wrapper>div {
    min-height: calc(100vh - 40px);
  }

  .heading-1 {
    font-size: 16px;
    line-height: 25px;
    margin-bottom: 25px;
  }

  .login-right {
    display: none;
  }
  .stage-content h2 {
    font-size: 20px;
    margin-bottom: 5px;
    line-height: 25px;
  }
  .stage-content h4 {
    font-size: 16px;
    line-height: 25px;
  }

}
