@media(max-width:991px) {

  .mat-checkbox-layout .mat-checkbox-label,
  .form-group label,
  .fgot-pass {
    font-size: 13px;
  }

  .mat-raised-button.mat-primary {
    padding: 0 36px;
  }

}

@media only screen and (min-device-width: 375px) and (max-device-height: 812px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3) {
  .login-wrapper>div {
    padding: 126px 0 0;
  }

  .logo {
    top: 0;
  }

}

@media(max-width:767px) {
  .grid-2 {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .login-form {
    height: initial;
    padding: 0 20px;
  }

  .login-wrapper {
    flex-direction: column;
  }

  .logo {
    padding: 0 20px 20px;
    position: static;
  }

  .login-left {
    padding: 20px 0;
  }

  .login-wrapper>div {
    min-height: calc(100vh - 40px);
  }

  .heading-1 {
    font-size: 16px;
    line-height: 25px;
    margin-bottom: 25px;
  }

  .login-right {
    display: none;
  }

}
