/* Flex */
.d-flex {
  display: flex;
}

.align-items-center {
  align-items: center;
}

.justify-content-center {
  justify-content: center;
}

.flex-direction-column {
  flex-direction: column;
}

.justify-space-between {
  justify-content: space-between;
}

.justify-content-end {
  justify-content: flex-end;
}

.grid-2 {
  flex: 0 0 50%;
  max-width: 50%;
}

.grid-3 {
  flex: 0 0 33.3%;
  max-width: 33.33%;
}

.w-100 {
  width: 100%;
}

/* Input  */
.customInput {
  width: 100%;
  height: 40px;
  border-radius: 8px;
  border: 1px solid #d4d3e0;
  padding: 10px;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  color: #000;
  transition: 300ms all;
  background: #fafafd;
}

textarea.customInput {
  min-height: 100px;
  height: auto;
}

.customInput:hover {
  border-color: #b8ccff;
  outline: none;
}

.customInput:focus {
  outline: none;
  border-color: #4080fe;
}

.form-group label {
  font-size: 14px;
  font-weight: 500;
  display: block;
  color: #384053;
  margin-bottom: 10px;
}

.form-group .mat-form-field {
  display: block;
}

.form-group+.form-group {
  margin-top: 25px;
}

/* heading */
.heading-1 {
  font-size: 20px;
  font-weight: bold;
  line-height: 28px;
  margin: 0;
  color: #4080fe;
  margin-bottom: 35px;
}

/* Buttons */
.mat-fab.mat-primary,
.mat-flat-button.mat-primary,
.mat-mini-fab.mat-primary,
.mat-raised-button.mat-primary {
  background-color: #4080fe;
}

button.mat-raised-button {
  min-width: auto;
  padding: 0 46px;
  border-radius: 5px;
  box-shadow: none !important;
  line-height: 40px;
  text-transform: capitalize;
}

.mat-raised-button.mat-primary:hover {
  background: #3b76e8;
}

.mat-raised-button.mat-secondary:hover {
  /* background: #dae5ff; */
  background: #4080fe;
  color: #fff;
}

.mat-raised-button.mat-secondary {
  background-color: #eef3ff;
  color: #4080fe;
}


.mat-raised-button+.mat-raised-button {
  margin-left: 20px;
}


button.mat-button-base.btn-small {
  border: 0;
  font-size: 12px;
  font-weight: 600;
  line-height: 27px;
  min-width: 115px;
  border-radius: 5px;
  transition: 300ms all;
}

button.mat-button-base.btn-small:hover {
  color: #fff !important;
}

button.mat-button-base.mat-success.btn-small {
  background: #F0FEF8;
  color: #60C798;
}

button.mat-button-base.mat-success.btn-small:hover {
  background: #60C798;
}

button.mat-button-base.mat-primary.btn-small {
  background: #E7EFFF;
  color: #4080FE;
}

button.mat-button-base.mat-primary.btn-small:hover {
  background: #4080FE;
}

button.mat-button-base.mat-warn.btn-small {
  background: #FFDFD8;
  color: #FF785A;
}

button.mat-button-base.mat-warn.btn-small:hover {
  background: #FF785A;
}


button.btn-large {
  min-width: 200px;
}

button.btn-medium {
  min-width: 150px;
}


/* Checkbox */
.mat-checkbox-layout .mat-checkbox-label {
  font-size: 14px;
  font-weight: 500;
  color: #384053;
}

.mat-checkbox-frame {
  border-width: 1px !important;
  border-style: solid;
  border-color: #D4D3E0;
  border-radius: 3px !important;
  transition: 300ms all;
}

.mat-checkbox:hover .mat-checkbox-frame,
.mat-checkbox.mat-checkbox-checked .mat-checkbox-frame {
  border-color: #4080fe !important;
}

.mat-checkbox-checked.mat-accent .mat-checkbox-background,
.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
  background-color: #4080fe;
}

.mat-checkbox-checked:not(.mat-checkbox-disabled).mat-accent .mat-ripple-element,
.mat-checkbox:active:not(.mat-checkbox-disabled).mat-accent .mat-ripple-element {
  background: #4080fe;
}

.mat-checkbox-checked.mat-accent .mat-checkbox-background,
.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
  background-color: transparent;
}

.mat-checkbox-checked .mat-checkbox-checkmark-path {
  stroke: #4080fe !important;
}

/* Login */
.login-wrapper {
  width: 100%;
}

.login-left {
  background: #fafafd;
}

.login-wrapper>div {
  min-height: 100vh;
}

.logo {
  padding: 50px 7.5% 0 7.5%;
  position: absolute;
}

.login-form {
  height: 100%;
  padding: 0 15%;
}

.remember-login {
  margin-top: 40px;
}

.fgot-pass {
  font-size: 14px;
  color: #4080fe;
  font-weight: 500;
  margin: 0;
  padding-top: 40px;
}

.fgot-pass a:hover {
  text-decoration: underline;
}

.login-right {
  background: #f2f9ff;
}

/* Forgot Password */
.f-got-subtitle {
  font-size: 14px;
  line-height: 24px;
  margin: 0;
  margin-bottom: 30px;
  color: #4080fe;
  font-weight: 600;
}

/* Heading */
.heading-main,
.heading-main-2 {
  font-size: 20px;
  line-height: 28px;
  font-weight: 700;
  color: #4080FE;
  margin-top: 0;
  margin-bottom: 20px;
}

.heading-main-2 {
  font-weight: 600;
  font-size: 18px;
  line-height: 26px;
}

.no-gutter {
  padding: 0 !important;
  overflow: hidden;
}

mat-footer-row,
mat-header-row,
mat-row,
td.mat-cell,
td.mat-footer-cell,
th.mat-header-cell {
  border-bottom-color: #D4D3E0;
}

tbody tr:last-child td.mat-cell {
  border-bottom: 0;
}

.mat-header-row .mat-header-cell {
  font-size: 13px;
  font-weight: 600;
  color: #384053;
}

td.mat-cell {
  font-weight: 500;
  color: #8584A8;
  font-size: 14px;
}


/* Tootlip */
.custom-tooltip {
  background: #0B295C;
  color: #fff;
  font-size: 9px;
}

.mat-tooltip:after {
  content: "" !important;
  background: #0B295C;
  height: 10px;
  width: 10px;
  position: absolute;
  bottom: -5px;
  left: 0;
  right: 0;
  margin: 0 auto;
  border-radius: 2px;
  transform: rotate(45deg);
}

.mat-tooltip {
  position: relative !important;
  overflow: visible !important;
}

.btn-action {
  height: 26px;
}

.btn-action+.btn-action {
  padding-left: 10px;
}

.btn-action:first-child img {
  position: relative;
  top: 1px;
}


mat-card.alert {
  padding: 20px;
  text-align: center;
  border-radius: 9px;
  line-height: 32px;
  font-size: 18px;
}

mat-card.alert span {
  font-weight: 600;
}

.alert.alert-pending {
  color: #F8A92F;
  background: #FFF3E0;
}

.no-border mat-footer-row,
.no-border mat-header-row,
.no-border mat-row,
.no-border td.mat-cell,
.no-border td.mat-footer-cell,
.no-border th.mat-header-cell {
  border-bottom-color: transparent;
}

.mat-card+h2 {
  margin-top: 40px;
}

.mt40 {
  margin-bottom: 40px;
}

.colored-th th {
  background: #DCE9FF;
}


/* custom radio button */
.pay-card input {
  display: none;
}

.pay-card {
  position: relative;
}

.pay-card input:checked+label {
  border-color: #4080fe;
}

.pay-card input+label {
  padding: 15px 15px 15px 120px;
  height: 92px;
  display: flex;
  align-items: center;
  border: 3px solid transparent;
  border-radius: 8px;
  transition: 300ms all;
  font-size: 14px;
  font-weight: 500;
  color: #384053;
  cursor: pointer;
}

.pay-card img {
  position: absolute;
  left: 30px;
  top: 50%;
  transform: translateY(-50%);
}

.mb-40 {
  margin-bottom: 40px;
  display: block;
}

.checkSmall .mat-checkbox-label {
  font-size: 12px;
  color: #4080fe;
}

.checkSmall .mat-checkbox-inner-container {
  margin-right: 15px;
}

.trFirstTd table tr td:first-child {
  color: #4080fe;
  font-weight: 600;
}

.mt-30 {
  margin-top: 30px;
}

.text-right {
  text-align: right;
}
.responsive-table {
  min-height: .01%;
  overflow-x: auto;
}