/* Flex */
.d-flex {
  display: flex;
}

.align-items-center {
  align-items: center;
}

.justify-content-center {
  justify-content: center;
}

.flex-direction-column {
  flex-direction: column;
}

.justify-space-between {
  justify-content: space-between;
}

.justify-content-end {
  justify-content: flex-end;
}

.flex-wrap {
  flex-wrap: wrap;
}

.grid-1 {
  flex: 0 0 100%;
  max-width: 100%;
}

.grid-2 {
  flex: 0 0 50%;
  max-width: 50%;
}

.grid-3 {
  flex: 0 0 33.3%;
  max-width: 33.33%;
}

.grid-4 {
  flex: 0 0 25%;
  max-width: 25%;
}

.grid-5 {
  flex: 0 0 20%;
  max-width: 20%;
}

.w-100 {
  width: 100%;
}

/* Input  */
.customInput {
  width: 100%;
  height: 40px;
  border-radius: 8px;
  border: 1px solid #d4d3e0;
  padding: 10px;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  color: #000;
  transition: 300ms all;
  background: #fafafd;
}

textarea.customInput {
  min-height: 100px;
  height: auto;
}

.customInput:hover {
  border-color: #b8ccff;
  outline: none;
}

.customInput:focus {
  outline: none;
  border-color: #4080fe;
}

.form-group label {
  font-size: 14px;
  font-weight: 500;
  display: block;
  color: #384053;
  margin-bottom: 10px;
}

.form-group .mat-form-field {
  display: block;
}

.form-group+.form-group {
  margin-top: 25px;
}

/* heading */
.heading-1 {
  font-size: 20px;
  font-weight: bold;
  line-height: 28px;
  margin: 0;
  color: #4080fe;
  margin-bottom: 35px;
}

/* Buttons */
.mat-fab.mat-primary,
.mat-flat-button.mat-primary,
.mat-mini-fab.mat-primary,
.mat-raised-button.mat-primary {
  background-color: #4080fe;
}

button.mat-raised-button {
  min-width: auto;
  padding: 0 46px;
  border-radius: 5px;
  box-shadow: none !important;
  line-height: 40px;
  text-transform: capitalize;

}

.mat-raised-button.mat-primary:hover {
  background: #3b76e8;
}

.mat-raised-button.mat-secondary:hover {
  /* background: #dae5ff; */
  background: #4080fe;
  color: #fff !important;
}

.mat-raised-button.mat-secondary {
  background-color: #eef3ff;
  color: #4080fe;
}

.mat-raised-button+.mat-raised-button {
  margin-left: 20px;
}

button.mat-button-base.btn-small {
  border: 0;
  font-size: 12px;
  font-weight: 600;
  line-height: 27px;
  min-width: 115px;
  border-radius: 5px;
  transition: 300ms all;
}

button.mat-button-base.btn-small:hover {
  color: #fff !important;
}

button.mat-button-base.mat-success.btn-small {
  background: #f0fef8;
  color: #60c798;
}

button.mat-button-base.mat-success.btn-small:hover {
  background: #60c798;
}

button.mat-button-base.mat-primary.btn-small {
  background: #e7efff;
  color: #4080fe;
}

button.mat-button-base.mat-primary.btn-small:hover {
  background: #4080fe;
}

button.mat-button-base.mat-warn.btn-small {
  background: #ffdfd8;
  color: #ff785a;
}

button.mat-button-base.mat-warn.btn-small:hover {
  background: #ff785a;
}

button.btn-large {
  min-width: 200px;
}

button.btn-medium {
  min-width: 150px;
}

/* Checkbox */
.mat-checkbox-layout .mat-checkbox-label {
  font-size: 14px;
  font-weight: 500;
  color: #384053;
}

.mat-checkbox-frame {
  border-width: 1px !important;
  border-style: solid;
  border-color: #d4d3e0;
  border-radius: 3px !important;
  transition: 300ms all;
}

.mat-checkbox:hover .mat-checkbox-frame,
.mat-checkbox.mat-checkbox-checked .mat-checkbox-frame {
  border-color: #4080fe !important;
}

.mat-checkbox-checked.mat-accent .mat-checkbox-background,
.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
  background-color: #4080fe;
}

.mat-checkbox-checked:not(.mat-checkbox-disabled).mat-accent .mat-ripple-element,
.mat-checkbox:active:not(.mat-checkbox-disabled).mat-accent .mat-ripple-element {
  background: #4080fe;
}

.mat-checkbox-checked.mat-accent .mat-checkbox-background,
.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
  background-color: transparent;
}

.mat-checkbox-checked .mat-checkbox-checkmark-path {
  stroke: #4080fe !important;
}

/* Login */
.login-wrapper {
  width: 100%;
}

.login-left {
  background: #fafafd;
}

.login-wrapper>div {
  min-height: 100vh;
  padding-bottom: 30px;
}

.logo {
  padding: 30px 15%;
}

.login-form {
  min-height: calc(100% - 136px);
  padding: 0 15%;
}

.remember-login {
  margin-top: 40px;
}

.fgot-pass {
  font-size: 14px;
  color: #4080fe;
  font-weight: 500;
  margin: 0;
  padding-top: 40px;
}

.fgot-pass a:hover {
  text-decoration: underline;
}

.login-right {
  background: #f2f9ff;
}

/* Forgot Password */
.f-got-subtitle {
  font-size: 14px;
  line-height: 24px;
  margin: 0;
  margin-bottom: 30px;
  color: #4080fe;
  font-weight: 600;
}

/* Heading */
.heading-main,
.heading-main-2 {
  font-size: 20px;
  line-height: 28px;
  font-weight: 700;
  color: #4080fe;
  margin-top: 0;
  margin-bottom: 20px;
}

.heading-main-2 {
  font-weight: 600;
  font-size: 18px;
  line-height: 26px;
}

.no-gutter {
  padding: 0 !important;
  overflow: hidden;
}

mat-footer-row,
mat-header-row,
mat-row,
td.mat-cell,
td.mat-footer-cell,
th.mat-header-cell {
  border-bottom-color: #d4d3e0;
}

tbody tr:last-child td.mat-cell {
  border-bottom: 0;
}

.mat-header-row .mat-header-cell {
  font-size: 13px;
  font-weight: 600;
  color: #384053;
}

td.mat-cell {
  font-weight: 500;
  color: #8584a8;
  font-size: 14px;
}

/* Tootlip */
.custom-tooltip {
  background: #0b295c;
  color: #fff;
  font-size: 9px;
}

.mat-tooltip:after {
  content: "" !important;
  background: #0b295c;
  height: 10px;
  width: 10px;
  position: absolute;
  bottom: -5px;
  left: 0;
  right: 0;
  margin: 0 auto;
  border-radius: 2px;
  transform: rotate(45deg);
}

.mat-tooltip {
  position: relative !important;
  overflow: visible !important;
}

.btn-action {
  height: 26px;
}

.btn-action+.btn-action {
  padding-left: 10px;
}

.btn-action:first-child img {
  position: relative;
  top: 1px;
}

mat-card.alert {
  padding: 20px;
  text-align: center;
  border-radius: 9px;
  line-height: 32px;
  font-size: 18px;
}

mat-card.alert span {
  font-weight: 600;
}

.alert.alert-pending {
  color: #f8a92f;
  background: #fff3e0;
}

.no-border mat-footer-row,
.no-border mat-header-row,
.no-border mat-row,
.no-border td.mat-cell,
.no-border td.mat-footer-cell,
.no-border th.mat-header-cell {
  border-bottom-color: transparent;
}

.mat-card+h2 {
  margin-top: 40px;
}

.mt40 {
  margin-bottom: 40px;
}

.colored-th th {
  background: #dce9ff;
}

/* custom radio button */
.pay-card input {
  display: none;
}

.pay-card {
  position: relative;
}

.pay-card input:checked+label {
  border-color: #4080fe;
}

.pay-card input+label {
  padding: 15px 15px 15px 120px;
  height: 92px;
  display: flex;
  align-items: center;
  border: 3px solid transparent;
  border-radius: 8px;
  transition: 300ms all;
  font-size: 14px;
  font-weight: 500;
  color: #384053;
  cursor: pointer;
}

.pay-card img {
  position: absolute;
  left: 30px;
  top: 50%;
  transform: translateY(-50%);
}

.mb-40 {
  margin-bottom: 40px;
  display: block;
}

.checkSmall .mat-checkbox-label {
  font-size: 12px;
  color: #4080fe;
}

.checkSmall .mat-checkbox-inner-container {
  margin-right: 15px;
}

.trFirstTd table tr td:first-child {
  color: #4080fe;
  font-weight: 600;
}

.mt-30 {
  margin-top: 30px !important;
}

.text-right {
  text-align: right;
}

.responsive-table {
  min-height: 0.01%;
  overflow-x: auto;
}

/* stage */
.stage-content {
  text-align: center;
}

.stage-content h2 {
  color: #4080fe;
  font-size: 24px;
  margin-bottom: 0;
  line-height: 28px;
}

.stage-content h4 {
  margin-top: 0;
  font-size: 18px;
  font-weight: 500;
  line-height: 32px;
  color: #4080fe;
  max-width: 531px;
  margin: 15px auto 25px;
}

.component-stage {
  height: 100%;
  padding: 15px;
}

.stage-img {
  text-align: center;
}

.stage-img img {
  width: 80%;
}

.colored-head th {
  color: #4080fe !important;
}

.colored-head tr td {
  color: #384053;
}

.colored-head tr td:first-child {
  font-weight: 600;
}

.td-odd tr td:nth-child(odd) {
  background: #effbff;
}

tfoot tr td {
  font-weight: 600;
  color: #4080fe !important;
}

.foot-colored tfoot tr td {
  background: #dce9ff !important;
  border-top: 1px solid #4080fe;
}

.no-color .td-odd tr td:nth-child(odd) {
  background: transparent;
}

.odd-colored .td-odd tr td:nth-child(5n) {
  background: #ffeeeb;
}

.odd-colored .td-odd tr td:nth-child(7n) {
  background: #fffeeb;
}

.td-odd tr td:nth-child(1) {
  width: 200px;
}

.td-odd tr td:nth-child(2) {
  width: 170px;
}

.td-odd tr td:nth-child(5) {
  width: 100px;
}

/* sitemap */
.sitemap {
  margin: 0;
  padding: 0;
  list-style: none;
}

.sitemap li {
  text-align: center;
  padding: 10px;
}

.sitemap li a {
  display: block;
  padding: 20px;
  border: 2px solid;
  border-radius: 5px;
  font-weight: 600;
  transition: 300ms all;
}

.sitemap li a:hover {
  background: #eef3ff;
}

.sitemap {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

button.btn-large.btn-icon {
  padding: 0 15px;
  min-width: auto;
}

.heading-main button {
  margin-left: 25px;
}

/* .login-wrapper {
  height: 100%;
} */

.product-name label {
  font-size: 14px;
  margin-right: 20px;
}

.product-name p {
  font-size: 14px;
  color: #4080fe;
  font-weight: 600;
  margin: 0;
}

.pro-del-in+.pro-del-in {
  padding-left: 80px;
}

.product-name {
  padding-bottom: 30px;
}

.banner-btn {
  padding: 50px 0;
}

.banner-wrapper {
  text-align: center;
  margin-top: 50px;
}

.sub-heading {
  font-weight: 500;
  color: #4080fe;
  font-size: 18px;
  line-height: 23px;
}

.sub-heading span {
  display: block;
  word-break: break-word;
}

.text-center {
  text-align: center;
}

.mat-card.big-radius {
  border-radius: 24px !important;
}

.big-padding.mat-card {
  padding: 30px;
}

.color-text td {
  color: #797b80;
}

.color-text tr td:nth-child(2) {
  font-weight: 600;
  color: #384053;
}

.mx-80 table {
  table-layout: fixed;
  margin: 0 auto;
  text-align: center;
  max-width: 800px;
}

.mx-80 tr td:nth-child(1) {
  text-align: left;
}

.card-colored {
  background: #384053;
  height: 100%;
}

.card-colored .heading-main {
  color: #89dc88;
}

/*========= Administartion-setting ==========*/

.endpoint-left .mat-list-base {
  padding-top: 0;
}

.endpoint-left b {
  color: #797b80;
  line-height: 24px;
  font-size: 14px;
  font-weight: 600;
  min-width: 210px;
}

.endpoint-left mat-list-item {
  color: #384053 !important;
  font-weight: 500;
  font-size: 14px !important;
}

.mtop24 {
  margin-top: 24px;
}

.reset-pwd {
  padding-right: 18px;
  padding-left: 40px;
}

.endpoint-left h3 {
  padding-left: 16px;
}

.commonleft-pd {
  padding-left: 16px;
}

.mb24 {
  margin-bottom: 24px;
}

.mt-25 {
  margin-top: 25px;
}

.sub2-heading {
  font-weight: 600;
  color: #384053;
  font-size: 14px;
  margin: 0 0 20px 0;
}

mat-radio-group.mat-radio-group {
  display: flex;
  flex-direction: column;
}

mat-radio-button {
  color: #384053;
  font-weight: 500;
  font-size: 14px;
  margin-bottom: 20px;
}

.card-payment {
  border: 1px solid #b8ccff;
  border-radius: 8px;
}

.card-payment mat-list-item.mat-list-item {
  color: #384053;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
}

.card-payment span b {
  color: #384053;
  font-weight: 600;
}

.card-payment span {
  max-width: 265px;
}

.mat-radio-button.mat-accent .mat-radio-inner-circle,
.mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element:not(.mat-radio-persistent-ripple),
.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-persistent-ripple,
.mat-radio-button.mat-accent:active .mat-radio-persistent-ripple {
  background-color: #4080fd;
}

.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
  border-color: #4080fd !important;
}

.card-payment .mat-list-base .mat-list-item .mat-list-item-content,
.mat-list-base .mat-list-option .mat-list-item-content {
  justify-content: space-between;
}

.commonleft-pd .mat-radio-outer-circle {
  box-sizing: border-box;
  border-width: 1px;
  border-color: #d4d3e0;
}

.user-access-type .bg-gray mat-list-item.mat-list-item {
  background: #f0f4ff;
  border-radius: 8px;
  font-size: 12px;
  color: #384053;
  height: 30px;
  margin-bottom: 15px;
}

.user-access-type .sameheight mat-list-item.mat-list-item {
  height: 30px;
  margin-bottom: 15px;
}

.user-access-type .mat-list-base .mat-list-item .mat-list-item-content,
.user-access-type .mat-list-base .mat-list-option .mat-list-item-content {
  padding: 0px 8px !important;
}

.user-access-type .bg-gray .mat-list-item-content {
  color: #384053;
  font-weight: 500;
}

.grid-8a {
  flex: 0 0 74%;
  max-width: 74%;
  padding-right: 0 !important;
}

.user-access-type {
  padding-left: 25px !important;
}

.user-hd {
  color: #384053;
  font-size: 14px;
  font-weight: 600;
  margin: 0 0 10px 6px;
}

.pd0>div {
  padding: 0px !important;
  font-size: 12px;
  color: #384053;
  font-weight: 500;
  word-break: break-word;
}

mat-list.radius-b.mat-list.mat-list-base {
  flex: 0 0 56%;
  max-width: 56%;
}

.grid-10a {
  flex: 0 0 80%;
  max-width: 80%;
}

.pd0 {
  padding: 0px !important;
}

.user-right mat-list-item.pd0.mat-list-item {
  background: #f0f4ff;
  margin-bottom: 10px;
  height: 30px;
  padding: 0 7px !important;
}

.user-right {
  padding: 0 0px 0 10px;
}

.user-right>div:first-child mat-list-item.pd0.mat-list-item {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.user-right .radius-b mat-list-item.pd0.mat-list-item {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

.user-access-type mat-list.mat-list.mat-list-base {
  padding-top: 0;
}

.pdleft40 {
  padding-left: 80px;
}

.max74 {
  width: 100%;
  max-width: 74.5%;
}

.grid-xa {
  padding-left: 0 !important;
}

.grid-11a mat-list-item.mat-list-item {
  color: #384053 !important;
  font-weight: 600;
  font-size: 14px !important;
  height: auto;
  margin-bottom: 5px;
}

.grid-11a {
  flex: 0 0 85%;
  max-width: 85%;
}

.grid20 {
  flex: 0 0 15%;
  max-width: 15%;
  text-align: right;
}

.grid-11a mat-list-item.mat-list-item span {
  font-weight: 500;
  min-width: 250px;
}

.grid-11a .mat-list-item-content {
  padding: 0 !important;
}

.card-payment+div {
  position: relative;
  top: 6px;
}

.grid-11a.pd0 .cb-info {
  font-size: 12px;
  font-weight: 600;
  color: #4080fe;
  background: #e7efff;
  padding: 6px 16px !important;
  border-radius: 8px;
  line-height: 26px;
}

.grid-11a mat-list-item.mat-list-item:first-child {
  margin-bottom: 32px;
}

.line-btm {
  position: relative;
  overflow: hidden;
}

.grid-11a.pd0 {
  position: relative;
}

.grid-11a.pd0.border-line::after {
  content: "";
  background: #d4d3e0;
  width: 200%;
  height: 1px;
  position: absolute;
  top: 40px;
  left: 0;
  right: 0;
}

.text-right.mtop60 {
  margin-top: 60px;
  position: relative;
  top: -4px;
}

/*========= Administartion-setting ==========*/

.grid-30 .mat-list-item-content,
.grid-70 .mat-list-item-content {
  padding: 0 !important;
}

.grid-30 {
  flex: 0 0 36%;
  max-width: 36%;
  padding-left: 11px !important;
}

.grid-30 mat-list-item.mat-list-item {
  background: #e3ebff;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  font-size: 12px;
  color: #384053;
  padding: 0px 10px;
  font-weight: 500;
  margin-bottom: 10px;
}

.grid-70 mat-list-item.mat-list-item {
  background: #f0f4ff;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  font-size: 12px;
  color: #384053;
  padding: 0px 10px;
  font-weight: 500;
  margin-bottom: 10px;
}

.grid-70.pd0 {
  flex: 0 0 51%;
  max-width: 51%;
}

.quote-end button.mat-button-base.btn-small {
  min-width: 55px;
}

.grid-70.pd0 input {
  width: 100%;
  height: 100%;
  border: 1px solid #4080fe;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  background: #fafafd;
  padding-left: 15px;
}

.grid-70.pd0 mat-list-item {
  padding: 0;
}

.grid-70.pd0 mat-list-item .mat-list-item-content span {
  padding: 0 10px 0 16px !important;
}

.quote-end mat-list-item.mat-list-item {
  margin-bottom: 10px;
}

.d-flex.row.quote-end {
  margin-bottom: 50px;
}

.d-flex.row.quote-end mat-list.mat-list.mat-list-base {
  padding-top: 0;
}


/*============= Header =========*/
.language-menus {
  width: 65px !important;
}

.language-menus input {
  border: none !important;
  background: transparent !important;
  padding: 0 !important;
  color: #4080FE !important;
  font-size: 14px !important;
  font-weight: 600;
  height: auto !important;
}

span.head-lang .dropdown-arrow {
  background: url(../img/icn_arrow-full.svg);
  height: 20px;
  width: 12px;
  display: inline-block;
  background-size: 21px;
  background-repeat: no-repeat;
  background-position: center center;
  top: 9px !important;
  right: 8px !important;
}

span.head-lang .dropdown-arrow img {
  display: none;
}

.m-logo h1 a {
  color: #384053 !important;
  font-weight: 600 !important;
  font-size: 14px;
  padding: 0;
}

.m-logo p {
  color: #384053;
  font-size: 14px;
  font-weight: 700;
  margin: 0;
}

.m-logo {
  display: flex;
}

.m-logo h1 {
  margin-right: 30px !important;
  position: relative;
  top: -1px;
}


.menu-language {
  display: flex;
}

.menu-links a {
  font-size: 14px;
  color: #797B80;
  font-weight: 500;
  position: relative;
  height: 100%;
  border-radius: 0;
  display: inline;
  padding: 0;
  margin: 0 15px;
}

.menu-links a::after {
  content: "";
  background: transparent;
  width: 100%;
  height: 3px;
  position: absolute;
  bottom: -22px;
  left: 0;
  right: 0;
}

a.mat-button.mat-button-base.active-link::after {
  background: #4080FE;
}

a.mat-button.mat-button-base.active-link {
  color: #4080FE;
  font-weight: 400;
}

.language-menus {
  margin-left: 57px;
}

mat-toolbar-row.menu-bar-header {
  justify-content: space-between;
}

.menu-bar-header {
  padding: 0 32px 0 45px !important;
}

.change-bg-header {
  background: #fff;
}

.toggle-menu-mobile {
  display: none;
}

.sub-menbus {
  box-shadow: 0 2px 90px rgba(38, 80, 119, 0.1);
  top: 22px !important;
  position: relative;
}

.sub-menbus a {
  display: block;
  text-align: left;
  min-width: 170px;
  color: #797B80;
  font-size: 14px;
}

.sub-menbus .mat-menu-content {
  padding: 0 !important;
}

.sub-menbus a:hover {
  background-color: #EBF1FF;
}

/*============= Header =========*/

/*============= Home =========*/
.policy-container {
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 20px;
}

.main-wrapper {
  background: #F6FBFF;
  min-height: calc(100vh - 64px);
}

/* .cdk-overlay-connected-position-bounding-box .cdk-overlay-pane .dropdown-options-container {
  left: -64px !important;
  position: relative !important;
  top: 9px;
  min-width: 160px;
} */

.cdk-overlay-connected-position-bounding-box .cdk-overlay-pane .dropdown-options-container custom-select-option:hover {
  border-radius: 5px;
  border-left: 3px solid transparent;
  font-weight: 500;
  margin-bottom: 14px;
  background: #EBF1FF;
}

.cdk-overlay-connected-position-bounding-box .cdk-overlay-pane .dropdown-options-container custom-select-option.active {
  background: #EBF1FF;
  border-radius: 5px;
  border-left: 3px solid transparent !important;
  font-weight: 600;
  margin-bottom: 14px;
  color: #4080fd;
}

.cdk-overlay-connected-position-bounding-box .cdk-overlay-pane .dropdown-options-container custom-select-option {
  border-radius: 5px;
  border-left: 3px solid transparent;
  font-weight: 500;
  margin-bottom: 14px;
  background: transparent;
}

.cdk-overlay-connected-position-bounding-box .cdk-overlay-pane .dropdown-options-container custom-select-option:last-child {
  margin-bottom: 0;
}

.cdk-overlay-connected-position-bounding-box .cdk-overlay-pane .dropdown-options-container custom-select-option:hover {
  border-color: #ebf1ff;
}

/* 
.cdk-overlay-connected-position-bounding-box .cdk-overlay-pane .dropdown-options-container {
  border: none;
  background: #fff;
} */

.pre-format mat-card.mat-card {
  max-width: 100%;
}

.pre-format .sub-heading,
.home-end .sub-heading {
  margin-bottom: 19px !important;
  margin-top: 7px !important;
  font-weight: 600;
}


.drop-drag {
  position: relative;
}

.drop-drag input {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  cursor: pointer;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.drop-drag {
  border: 2px dashed #4080FE;
  border-radius: 8px;
  background: #F6FBFF;
  width: 100%;
  max-width: 413px;
  margin: 0 auto;
  padding: 18px;
}

.pre-format p {
  color: #384053;
  font-size: 14px;
  line-height: 24px;
  font-weight: 500;
  padding: 7px 0 8px;
}

.pre-format button.mat-raised-button.mat-button-base.mat-primary {
  min-width: 198px;
  margin-bottom: 7px;
  margin-top: 5px;
}

.pre-format.pre-pd p {
  padding-top: 24px;
}

.pre-format img {
  max-width: 160px;
}

.home-bg-clr {
  padding: 8px 0 30px 0;
}

.polish-breadcom mat-card.mat-card {
  padding: 24px;
  margin-bottom: 24px;
}

.home-end-list .mat-list-item-content {
  font-weight: 600;
  font-size: 14px;
  color: #797B80;
  line-height: 24px;
}

.home-end-list .mat-list-item-content span {
  min-width: 165px;
}

.home-end-list mat-list-item.mat-list-item b {
  background: #FFF0DA;
  border-radius: 4px;
  color: #F8A92F;
  font-size: 12px;
  padding: 0px 20px;
  min-width: 140px;
  text-align: center;
}

.home-end-list {
  width: 100%;
  max-width: 306px;
  margin: 0 auto;
}

.home-end-list mat-list-item.mat-list-item:nth-child(2) b {
  background: #F0FEF8;
  border-radius: 4px;
  color: #60C798;
  font-size: 12px;
  padding: 0px 20px;
  min-width: 140px;
  text-align: center;
}

.home-end-list mat-list-item.mat-list-item:nth-child(3) b {
  background: #E7EFFF;
  border-radius: 4px;
  color: #4080FE;
  font-size: 12px;
  min-width: 140px;
  text-align: center;
  padding: 0px 20px;
}

.home-end-list.pdleft70 {
  margin: 0;
  padding-left: 45px;
}

.home-end mat-card.mat-card {
  padding-bottom: 75px;
}

span.back-arw {
  font-size: 18px;
  color: #384053;
  font-weight: 600;
  display: flex;
  position: absolute;
  left: 0;
  top: 4px;
}

.breadcum-home h2 {
  margin: 0;
}

span.back-arw img {
  position: relative;
  margin-right: 13px;
}

.breadcum-home {
  display: flex;
  justify-content: center;
  width: 100%;
  position: relative;
}

.polish-breadcom {
  padding-top: 40px;
}

.basic-car-info {
  padding-bottom: 40px;
}

.mb-25 {
  margin-bottom: 25px;
}

.basic-car-info mat-card.mat-card {
  padding: 25px 35px 5px;
}

.basic-car-info .d-flex.row.mt-30.flex-wrap {
  margin-top: 23px !important;
}

input[type="date"]:after {

  color: rgba(0, 0, 0, 0);
  opacity: 1
}

input[type="date"]:after {
  content: '';
  display: block;
  background: url(../img/icn_calendar.svg) no-repeat;
  width: 20px;
  height: 22px;
  position: absolute;
  right: 13px;
  top: 6px;
  background-color: #fafafd;

}

input[type="date"]::-webkit-calendar-picker-indicator {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: auto;
  height: auto;
  color: transparent;
  background: transparent;
}

input[type="date"] {
  position: relative;
}

/* adjust increase/decrease button */
input[type="date"]::-webkit-inner-spin-button {
  z-index: 1;
}

/* adjust clear button */
input[type="date"]::-webkit-clear-button {
  z-index: 1;
}

/*============= Home =========*/
