<h2 class="heading-main">Policy Administration</h2>

<div class="product-name d-flex align-items-center">

    <div class="pro-del-in  d-flex align-items-center">
        <label>Name of product:</label>
        <p> Jim's Car Insurance</p>
    </div>

    <div class="pro-del-in  d-flex align-items-center">
        <label>Times Updated:</label>
        <p> 4</p>
    </div>

    <div class="pro-del-in  d-flex align-items-center">
        <label>Version:</label>
        <p> 1.4</p>
    </div>

</div>

<mat-card class="no-gutter">
    <mat-card-content>
        <app-table-product-provider-policy-admin></app-table-product-provider-policy-admin>
    </mat-card-content>
</mat-card>




<div class="mt-30 text-right">
    <button mat-raised-button class="btn-medium" type="submit" color="primary">Add</button>
</div>

<h2 class="heading-main">Policy Schedule</h2>


<mat-card class="no-gutter">
    <mat-card-content>
        <app-table-policy-schedule></app-table-policy-schedule>
    </mat-card-content>
</mat-card>



<div class="mt-30 text-right">
    <button mat-raised-button class="btn-medium" type="submit" color="primary">
        Open Policy Schedule Editor
    </button>
</div>

<app-banner-button [bannerDetails]="bannerDetail[0]"></app-banner-button>

<h2 class="heading-main">Product Information Pages</h2>

<app-banner-button [bannerDetails]="bannerDetail[1]"></app-banner-button>

<h2 class="heading-main">API Documentation Pages</h2>

<app-banner-button [bannerDetails]="bannerDetail[2]"></app-banner-button>