<div class="newsletter-wrapper">
    <div class="newsletter-head">
        <div class="newsletter-logo">
            <img src="assets/img/PolicyDock-Logo.svg" alt="" />
        </div>
        <h4>Digitize Insurance Instantly</h4>
        <p>We are a team of entrepreneurs with decades of experience in Fintech, Insurance, and Artifical Inteligence build the future of insurance.</p>
        <h5>Sign up below for updates!</h5>
        <div class="form-group">
            <label>Email</label>
            <input class="customInput" placeholder="Text" type="email">
          </div>
          <div class="remember-login d-flex align-items-center justify-content-center">
            <button mat-raised-button type="submit" color="primary">Subscribe</button>
          </div>
    </div>
    <div class="main-footer">Copyright <a href="">PolicyDock Technologies</a>  Ptv Ltd.</div>
</div>