<div class="card-container">
    <mat-card layout-align="center">Quotation is being processed, you will be notified when your quote is ready
    </mat-card>
</div>

<h2 class="heading-main">Application Details</h2>

<mat-card class="no-gutter">
    <mat-card-content>
        <app-table-application></app-table-application>
    </mat-card-content>
</mat-card>

<h2 class="heading-main">Specified Motor Vehicle</h2>

<mat-card class="no-gutter">
    <mat-card-content>
        <app-table-application></app-table-application>
    </mat-card-content>
</mat-card>

<h2 class="heading-main">Clauses & Extensions</h2>

<mat-card class="no-gutter">
    <mat-card-content>
        <app-table-application></app-table-application>
    </mat-card-content>
</mat-card>

<h2 class="heading-main">Clauses & Extensions</h2>

<mat-card class="no-gutter">
    <mat-card-content>
        <app-table-application></app-table-application>
    </mat-card-content>
</mat-card>

<h2 class="heading-main">E-Signature & Pay</h2>

<mat-checkbox>Agree to all terms of policy Schedule</mat-checkbox>

<app-payments [payments]="PAYMENT_DATA"></app-payments>