.small-title {
  margin-left: 6px !important;
  text-transform: capitalize !important;
}

.navbar-spacer {
  flex: 1 1 auto;
}
.page-title {
  text-transform: uppercase;
  font-weight: 700;
  padding-left: 20px;
}
.navbar {
  z-index: 2;
}

.navbar-brand {
  text-decoration: none;
  color: white;
}

.navbar-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.navbar-is-mobile .navbar {
  position: fixed;
  z-index: 2;
}

.navbar-sidenav-container {
  flex: 1;
  background: #F2F9FF
}


.navbar-is-mobile .navbar-sidenav-container {
  flex: 1 0 auto;
}

mat-sidenav {
  min-width: 224px !important;
  border-right: 0;
  box-shadow: none;
  background: #4080FE;
  border-radius: 0 30px 30px 0;
  overflow: hidden;
  top: 0 !important;
}


.progress-bar-container {
  height: 5px;
}

a.mat-list-item.active {
  background: rgba(0, 0, 0, .04);
}

#push-bottom {
  position: absolute;
  bottom: 20px;
}

mat-sidenav .mat-list-base .mat-list-item {
  color: #B8CCFF;
  font-size: 14px;
  font-weight: 400;
}

.mat-list-base {
  padding-top: 0;
}

.admin-logo {
  padding-top: 25px;
  padding-bottom: 25px;
  display: block;
  padding-left: 18px;
  padding-right: 18px;
}

.admin-logo img {
  width: 60px;
}

mat-sidenav .mat-list-base .mat-list-item .mat-list-item-content {
  padding: 0 18px;
}

.nav-menus img {
  vertical-align: middle;
  padding-right: 18px;
  opacity: 0.4;
  transition: 300ms all;
}

.nav-menus .mat-list-item-content {
  padding: 0 18px;
}

a.mat-list-item {
  transition: 300ms all;
}


a.mat-list-item.active,
a.mat-list-item:hover {
  background: #3070FF;
}

a.mat-list-item.active img,
a.mat-list-item:hover img {
  opacity: 1;
}

mat-sidenav .mat-list-base .mat-list-item.active,
mat-sidenav .mat-list-base .mat-list-item:hover {
  color: #fff;
}

.main-wrapper {
  padding: 40px 25px 40px 25px;
}
.nav-sidebar {
  height: calc(100vh - 170px);
  overflow: auto;
}

.nav-sidebar::-webkit-scrollbar {
  width: 6px;
}
/* Handle */
.nav-sidebar::-webkit-scrollbar-thumb {
  background:rgba(255, 255, 253, 0.38);
}

/* Handle on hover */
.nav-sidebar::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 253, 0.38);
}


@media(min-width:1001px){
  .responsive-toggle{
    display: none;
  }
}
@media(max-width:1000px){
  .responsive-toggle{
    color: #3070ff;
    border: 2px solid #3070ff;
    line-height: 1;
    border-radius: 6px;
    position: relative;
    left: 20px;
    height: auto;
    padding: 6px;
    margin-top: 15px;
    margin-bottom: 15px;
    width: 40px;
}



}
@media(max-width:767px) {
  .main-wrapper{
    padding: 15px;
}
}