<div class="navbar-container" [class.example-is-mobile]="mobileQuery.matches">

  <!-- Top navbar -->
    <button mat-icon-button (click)="snav.toggle()" class="responsive-toggle">
      <mat-icon>menu</mat-icon>
      <span> {{title}}</span>
    </button>



  <mat-sidenav-container class="navbar-sidenav-container">
    <!-- Side nav -->
    <mat-sidenav #snav [opened]="!mobileQuery.matches" [mode]="mobileQuery.matches ? 'over' : 'side'"
      [fixedInViewport]="mobileQuery.matches" fixedTopGap="56" class="sidenav">

      <mat-nav-list>
        <a class="admin-logo" href="javascript:void(0);">
          <img src="assets/img/PolicyDock-Logo-White.svg">
        </a>

        <div class="nav-sidebar">
          <a class="nav-menus" mat-list-item [routerLink]="['/admin/current-policies']" routerLinkActive="active" (click)="snav.toggle()">
            <p mat-line> <img src="assets/img/icn_grid.svg" alt="" />
              <span>My Current Policies </span>
            </p>
          </a>
  
          <a class="nav-menus" mat-list-item [routerLink]="['/admin/applications']" routerLinkActive="active">
            <p mat-line> <img src="assets/img/icn_aplications.svg" alt="" />
              <span>My Applications</span>
            </p>
          </a>
  
          <a class="nav-menus" mat-list-item [routerLink]="['/admin/quotation']" routerLinkActive="active">
            <p mat-line> <img src="assets/img/icn_file-text.svg" alt="" />
              <span>Quotations</span>
            </p>
          </a>
  
          <a class="nav-menus" mat-list-item [routerLink]="['/admin/dashboard']" routerLinkActive="active">
            <p mat-line> <img src="assets/img/icn_dasboard.svg" alt="" />
              <span>Dashboard</span>
            </p>
          </a>
  
  
          <a class="nav-menus" mat-list-item [routerLink]="['/admin/settings']" routerLinkActive="active">
            <p mat-line> <img src="assets/img/icn_settings.svg" alt="" />
              <span>Settings</span>
            </p>
          </a>

          <a class="nav-menus" mat-list-item >
            <p mat-line> <img src="assets/img/icn_settings.svg" alt="" />
              <span>Sitemap</span>
            </p>
          </a>
        </div>


        <a id="push-bottom" class="nav-menus" mat-list-item [routerLink]="['/auth/login']">
          <p mat-line> <img src="assets/img/icn_log-in.svg" alt="" />
            <span>Logout</span>
          </p>
        </a>
      </mat-nav-list>

    </mat-sidenav>

    <!-- Main content -->
    <mat-sidenav-content class="sidenav-content">

      <div class="progress-bar-container">
      </div>

      <div class="main-wrapper">
        <router-outlet>


        </router-outlet>

      </div>

    </mat-sidenav-content>
  </mat-sidenav-container>
</div>