<div class="d-flex row mt-10 flex-wrap">
  <div class="grid-1">
    <mat-card class="big-radius">
      <h2 class="sub-heading">Required Basic Info</h2>
      <div class="d-flex row mt-10 flex-wrap">
        <div class="grid-2 mb-25">
          <div class="form-group">
            <label>E-mail</label>
            <input class="customInput" placeholder="Text" type="email">
          </div>
        </div>
        <div class="grid-2 mb-25">
          <div class="form-group">
            <label>DOB</label>
            <input class="customInput" placeholder="Select" type="date">
          </div>
        </div>
        <div class="grid-2 mb-25">
          <div class="form-group">
            <label>Driver Name*</label>
            <input class="customInput" placeholder="Text" type="text">
          </div>
        </div>
        <div class="grid-2 mb-25">
          <div class="form-group">
            <label>Do you want windscreen coverage?</label>
             <div class="custom-ck">
              <div class="d-flex align-items-center">
                <mat-checkbox>Back</mat-checkbox>
                <mat-checkbox>Front</mat-checkbox>
                <mat-checkbox>Sunroof</mat-checkbox>
            </div>
             </div>
          </div>
        </div>
        <div class="grid-1 mb-25">
          <div class="form-group">
            <label>Miscellaneous Notes</label>
            <textarea class="customInput" placeholder="Text"> </textarea>
          </div>
        </div>
      </div>

    </mat-card>
  </div>
</div>
