<div class="notification">
  <img src="assets/img/icn_notification.svg" alt="" />
  <span class="notification-counter">1</span>
  <div class="noti-data">
    <div class="noti-wrapper d-flex">
      <div class="noti-left">
        <div class="noti noti-info">
          <img src="assets/img/info.svg" alt="" />
        </div>
      </div>
      <div class="noti-right">
        <div class="d-flex">
          <div class="just-dot"></div>
          <span>Breaking News</span>
          <span>20 seconds ago</span>
        </div>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do </p>
      </div>
    </div>
    <div class="noti-wrapper d-flex">
      <div class="noti-left">
        <div class="noti noti-green">
          <img src="assets/img/mark.svg" alt="" />
        </div>
      </div>
      <div class="noti-right">
        <div class="d-flex">
          <span>Breaking News</span>
          <span>20 seconds ago</span>
        </div>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do </p>
      </div>
    </div>
    <div class="noti-wrapper d-flex">
      <div class="noti-left">
        <div class="noti noti-info">
          <img src="assets/img/info.svg" alt="" />
        </div>
      </div>
      <div class="noti-right">
        <div class="d-flex">
          <span>Breaking News</span>
          <span>20 seconds ago</span>
        </div>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do </p>
      </div>
    </div>
  </div>
</div>
