<mat-card>
  <h2 class="heading-main">Modal popups</h2>
  <div class="d-flex flex-wrap
">
    <button mat-raised-button class="btn-medium" type="submit" color="primary" (click)="openLogoutDialog()">
      Launch Logout dialog
    </button>


    <button mat-raised-button class="btn-medium" type="submit" color="primary" (click)="openCreditDebitDialog()">
      Launch Credit/Debit Card
    </button>


    <button mat-raised-button class="btn-medium" type="submit" color="primary" (click)="openUserAccessRightsDialog()">
      Launch User Access Rights
    </button>


    <button mat-raised-button class="btn-medium" type="submit" color="primary" (click)="openApiAccessRightsDialog()">
      Launch API Access Rights
    </button>


    <button mat-raised-button class="btn-medium" type="submit" color="primary" (click)="openEditPaymentsDialog()">
      Launch Edit Recieving Payment
    </button>
  </div>
</mat-card>
