<button mat-raised-button class="btn-medium" type="submit" color="primary" (click)="openLogoutDialog()">
    Launch Logout dialog
</button>

<button mat-raised-button class="btn-medium" type="submit" color="primary" (click)="openCreditDebitDialog()">
    Launch Credit/Debit Card details dialog
</button>

<button mat-raised-button class="btn-medium" type="submit" color="primary" (click)="openUserAccessRightsDialog()">
    Launch User Access Rights dialog
</button>


<button mat-raised-button class="btn-medium" type="submit" color="primary" (click)="openApiAccessRightsDialog()">
    Launch API Access Rights dialog
</button>

<button mat-raised-button class="btn-medium" type="submit" color="primary" (click)="openEditPaymentsDialog()">
    Launch Edit Recieving Payment Details dialog
</button>