<h2 class="heading-main">Application Details</h2>

<mat-card class="no-gutter">
    <mat-card-content>
        <app-table-quotation></app-table-quotation>
    </mat-card-content>
</mat-card>

<h2 class="heading-main">Specified Motor Vehicle</h2>

<mat-card class="no-gutter">
    <mat-card-content>
        <app-table-quotation></app-table-quotation>
    </mat-card-content>
</mat-card>

<h2 class="heading-main">Clauses & Extensions</h2>

<mat-card class="no-gutter">
    <mat-card-content>
        <app-table-quotation></app-table-quotation>
    </mat-card-content>
</mat-card>

<h2 class="heading-main">Comments</h2>
<div class="card-comment">
    <mat-card layout-align="center">Create your comment
        <br>
        <mat-form-field appearance="outline">
            <mat-label>Type</mat-label>
            <textarea matInput></textarea>
        </mat-form-field>
    </mat-card>
</div>


<mat-card-actions>
    <button mat-raised-button type="submit" color="primary">Update</button>
</mat-card-actions>