<div class="responsive-table">
    <table mat-table [dataSource]="dataSource" matSort>

        <!-- legalDocument Column -->
        <ng-container matColumnDef="legalDocument">
            <th mat-header-cell *matHeaderCellDef> Legal Document </th>
            <td mat-cell *matCellDef="let element"> {{element.document}} </td>
        </ng-container>

        <!-- legalDocument Column -->
        <ng-container matColumnDef="keyPolicyTerms">
            <th mat-header-cell *matHeaderCellDef> Key Policy Terms </th>
            <td mat-cell *matCellDef="let element">

                <custom-select placeholder="Default Value">
                    <custom-select-option key="1" value="Premiums"></custom-select-option>
                    <custom-select-option key="2" value="Deductible"></custom-select-option>
                </custom-select>
            </td>
        </ng-container>

        <!-- insertIntoDoc Column -->
        <ng-container matColumnDef="insertIntoDoc">
            <th mat-header-cell *matHeaderCellDef> Insert Into Doc </th>
            <td mat-cell *matCellDef="let element">
                <button mat-stroked-button color="primary" class="btn-small">Edit</button>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</div>