/* You can add global styles to this file, and also import other style files */
// @import '@angular/material/prebuilt-themes/indigo-pink.css';
// @import '@angular/material/prebuilt-themes/deeppurple-amber.css';
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@500&display=swap');

@import '~@angular/material/theming';
// Define a custom typography config that overrides the font-family as well as the
// `headlines` and `body-1` levels.
$custom-typography: mat-typography-config($font-family: 'Montserrat',
  $title: mat-typography-level(20px, 32px, 500),
);

@include mat-base-typography($custom-typography);

// Override typography for a specific Angular Material components.
@include mat-checkbox-typography($custom-typography);

// Override typography for all Angular Material, including mat-base-typography and all components.
@include angular-material-typography($custom-typography);

@include mat-core($custom-typography);

// custom styles
@import 'assets/css/style.css';
@import 'assets/css/responsive.css';

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

body * {
  box-sizing: border-box;
}

a {
  color: #4080FE;
  text-decoration: none;
  cursor: pointer;
}

.mat-card {
  border-radius: 8px !important;
  box-shadow: 0 2px 90px rgba(38, 80, 119, 0.10) !important;
}

.row {
  margin: 0 -10px;
}

[class^="grid-"] {
  padding: 0 10px;
}

mat-sidenav .mat-drawer-inner-container {
  overflow: hidden !important;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #E7EAF0;
  border-radius: 50px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #869DD0;
  border-radius: 50px;
}


.custom-scroll-01::-webkit-scrollbar-track {
  background: #63708E;
  border-radius: 50px;
}

.custom-scroll-01::-webkit-scrollbar-thumb {
  background: #415B94;
  border-radius: 50px;
}

.custom-scroll-01::-webkit-scrollbar-thumb:hover {
  background: #4080fe;
}


/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #4080fe;
}

.mat-drawer-backdrop {
  position: fixed !important;
}

.mat-button-focus-overlay {
  opacity: 0 !important;
  background: transparent !important;
}

table td.mat-cell,
table td.mat-footer-cell,
table th.mat-header-cell {
  padding: 15px;
}

.drop-drag input,
.toggle-menu-mobile {
  cursor: pointer;
}

.sub-menbus a {
  border-left: 3px solid #fff !important;
}

.sub-menbus a:hover {
  border-left: 3px solid #EBF1FF !important;
}

.sub-menbus a:focus,
.sub-menbus a:active {
  border-radius: 5px;
  border-left: 3px solid #4080fd !important;
  font-weight: 500;
  color: #4080fd;
}

.menu-links a {
  transition: 300ms all;
}

.menu-links a:hover {
  color: #4080FE;
}

.language-menus input::-webkit-input-placeholder {
  /* Edge */
  color: #4080fd;
}

.language-menus input:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #4080fd;
}

.language-menus input::placeholder {
  color: #4080fd;
}

.customInput:disabled {
  background: #F3F3F3;
}

.error input {
  border-color: #FF785A !important;
}

.error-alert {
  background: #FFECE8;
  border-radius: 11px;
  color: #FF785A;
  padding: 11px 15px;
  font-size: 14px;
  font-weight: 500;
}

// override input
// .mat-form-field-appearance-outline .mat-form-field-outline {
//   height: 32px;
// }

// .form-group .mat-form-field-appearance-outline .mat-form-field-outline-end,
// .form-group .mat-form-field-appearance-outline .mat-form-field-outline-start {
//   border-color: #D4D3E0;
// }

// .mat-form-field-appearance-outline .mat-form-field-infix {
//   padding: 0;
// }

// .mat-form-field {
//   line-height: 0;
// }

// input.mat-input-element {
//   font-size: 12px;
// }

// .mat-form-field-appearance-outline .mat-form-field-outline-start {
//   border-radius: 0 8px 8px 0 !important;
// }

// .mat-form-field-appearance-outline .mat-form-field-outline-end {
//   border-radius: 0 5px 5px 0 !important;
// }

.tr-width table tbody tr td:nth-child(4) {
  min-width: 170px;
}

.transparent-select .input-wrapper .input input {
  background: transparent !important;
  color: #fff !important;
}

.transparent-select .input-wrapper .input input::-webkit-input-placeholder {
  /* Edge */
  color: #fff !important;
}

.transparent-select .input-wrapper .input input:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #fff !important;
}

.transparent-select .input-wrapper .input input::placeholder {
  color: #fff !important;
}

code {
  font-family: 'Fira Code', monospace;
  color: #fff;
  font-size: 12px;
  line-height: 19px;
}

.red {
  color: #E77856 !important;
}

.light-green {
  color: #88DCCE !important;
}

.green {
  color: #B1D390 !important;
}

.light-blue {
  color: #B8CCFF !important;
}

.pink {
  color: #C465FF !important;
}

.home-bg-clr {
  padding: 8px 0 20px 0;
}

span.back-arw {
  cursor: pointer;
}

input:focus {
  outline-offset: 0;
}

:focus {
  outline: -webkit-focus-ring-color auto 0;
}

.custom-ra>label {
  width: 100px;
}

.custom-ra mat-radio-group.mat-radio-group {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.custom-ra mat-radio-group.mat-radio-group .mat-radio-button.mat-accent {
  margin-bottom: 0 !important;
}

.custom-ra mat-radio-group.mat-radio-group .mat-radio-button.mat-accent+.mat-radio-button.mat-accent {
  margin-left: 40px;
}

.custom-ra label {
  font-weight: 500;
  font-size: 14px;
}

.custom-ra {
  margin-top: 37px;
}

.custom-ra {
  display: flex;
  align-items: center;
}

.custom-ck>div .mat-checkbox.mat-accent+.mat-checkbox.mat-accent {
  margin-left: 40px;
}

.custom-ck {
  margin-top: 18px;
}

.mat-radio-outer-circle {
  border-color: #CCCCCC !important;
}

.custom-ck .mat-checkbox-layout .mat-checkbox-label {
  position: relative;
  top: 2px;
}

@media(max-width: 991px) {
  .menu-links a:hover {
    color: #fff;
  }

  .menu-language {
    padding-top: 30px;
    position: fixed;
    top: 0;
    z-index: 999;
    right: unset;
    left: -100%;
    transition: 300ms all;
    height: 100%;
    background: #4080FE;
    width: 224px;
    border-radius: 0 30px 30px 0;
    color: #fff;
    box-shadow: 0 8px 10px -5px rgba(0, 0, 0, .2), 0 16px 24px 2px rgba(0, 0, 0, .14), 0 6px 30px 5px rgba(0, 0, 0, .12);
  }

  .menu-links a {
    color: #B8CCFF;
    font-weight: 400;
  }

  a.mat-button.mat-button-base.active-link {
    color: #fff;
    font-weight: 400;
  }

  .toggle-menu-mobile {
    color: #4080fe;
    top: 4px;
    position: relative;
  }

  .menu-language {
    display: block;
  }

  .isOpen .menu-language {
    left: 0;
  }

  .menu-links {
    height: calc(100vh - 70px);
    overflow: auto;
  }

  .menu-links a {
    height: auto;
  }

  .language-menus input {
    color: #fff !important;
  }

  span.head-lang .dropdown-arrow {
    background: none;
    height: inherit;
    width: inherit;
    display: inherit;
    right: inherit !important;
  }

  span.head-lang .dropdown-arrow img {
    display: inline-block;
  }

  .language-menus {
    width: 93%;
  }

  .custom-kk .input-wrapper .input .dropdown-arrow {
    position: absolute;
    color: inherit;
    right: unset !important;
    top: 0px !important;
    cursor: pointer;
    left: 40px;
  }

  .cdk-overlay-connected-position-bounding-box .cdk-overlay-pane .dropdown-options-container {
    left: unset !important;
  }

  .cdk-overlay-connected-position-bounding-box .cdk-overlay-pane .dropdown-options-container custom-select-option.active {
    margin-bottom: 0 !important;
  }

  .language-menus input::-webkit-input-placeholder {
    /* Edge */
    color: #fff;
  }

  .language-menus input:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #fff;
  }

  .language-menus input::placeholder {
    color: #fff;
  }

  .cdk-overlay-connected-position-bounding-box .cdk-overlay-pane .dropdown-options-container custom-select-option {
    margin-bottom: 0;
  }

  .overlay {
    visibility: hidden;
    background: rgba(0, 0, 0, .6);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 9;
    transition: 300ms all;
    opacity: 0;
  }

  .isOpen .overlay {
    visibility: visible;
    opacity: 1;
  }

  .menu-links a {
    padding: 0 16px;
    line-height: 38px;
  }

  body.app.isOpen {
    overflow: hidden;
  }

  .custom-kk .input {
    padding-left: 10px;
  }

  .input-wrapper .input .dropdown-arrow {
    top: 13px !important;
  }
}


@media(max-width:767px) {
  .custom-ck {
    margin-top: 0;
  }

  .home-end mat-card.mat-card {
    padding-bottom: 0;
  }

  .custom-ck>div .mat-checkbox.mat-accent+.mat-checkbox.mat-accent {
    margin-left: 15px;
  }

  .home-end .d-flex.row.mt-10.flex-wrap {
    overflow: auto;
  }

  .custom-ra mat-radio-group.mat-radio-group .mat-radio-button.mat-accent+.mat-radio-button.mat-accent {
    margin-left: 20px;
  }

  .home-bg-clr {
    padding: 0 0 20px 0;
  }

  .toggle-menu-mobile {
    top: 0px;
  }

  .big-padding.mat-card {
    padding: 20px;
  }

  .toggle-menu-mobile mat-icon {
    position: relative;
    top: 4px;
  }

  .custom-ra {
    margin-top: 0;
  }


}


// Model
.mat-dialog-actions {
  padding: 0 !important;
  align-items: inherit !important;
  margin-bottom: 0 !important;
  flex-direction: column;
  position: relative;
}

.model-close {
  position: absolute;
  top: 35px;
  cursor: pointer;
  right: 25px;
}

.mat-dialog-container {
  padding: 30px !important;
  border-radius: 18px !important;
  box-shadow: none !important;
  margin: 5px 15px;
  height: auto !important;
  position: relative;
}

.cdk-overlay-pane {
  height: auto !important;
}

.check-list {
  list-style: none;
  padding: 0;
}

.check-list ul {
  list-style: none;
}

.btn-right {
  text-align: right;
}

.model-wrapper .custom-ra>label {
  width: auto;
  color: #797B80;
  flex: 0 0 130px;
}

.model-wrapper .custom-ra mat-radio-group.mat-radio-group .mat-radio-button.mat-accent+.mat-radio-button.mat-accent {
  margin-left: 20px;
}

.mt-20 {
  margin-top: 20px;
}

.btn-right {
  text-align: right;
  margin-top: 20px;
}

.model-wrapper .custom-ra {
  margin-top: 20px;
}

.blank-height {
  min-height: 18px;
}

.model-wrapper .transparent-select .input-wrapper .input input {
  color: #797B80 !important;
  font-size: 12px !important;
}


.model-wrapper .transparent-select .input-wrapper .input input::-webkit-input-placeholder {
  color: #797B80 !important;
}

.model-wrapper .transparent-select .input-wrapper .input input:-ms-input-placeholder {
  color: #797B80 !important;
}

.model-wrapper .transparent-select .input-wrapper .input input::placeholder {
  color: #797B80 !important;
}

.btn-stoke {
  border: 1px solid #EEF3FF !important;
  line-height: 38px;
  background: #EEF3FF;
  color: #4080FE !important;
}

.mat-stroked-button:hover {
  background: #e7efff;
}

.btn-flex {
  display: flex;
  justify-content: flex-end;
}

@media(max-width:767px) {
  .mat-dialog-container {
    padding: 20px !important;
  }

  .mat-checkbox-layout .mat-checkbox-label {
    white-space: initial;
  }

  .model-wrapper .custom-ra>label {
    flex: 0 0 115px;
  }
}


.form-group app-checkbox+app-checkbox,
.form-group app-radio-button+app-radio-button {
  margin-left: 20px;
}

.cs-radio .mat-radio-label-content {
  position: relative;
  top: -4px;
}

.mat-tab-group.mat-primary .mat-ink-bar,
.mat-tab-nav-bar.mat-primary .mat-ink-bar {
  background-color: #4080FE !important;
}

.mat-tab-header,
.mat-tab-nav-bar {
  border-bottom: 1px solid #D4D3E0 !important;
}

.mat-tab-label {
  opacity: 1 !important;
}

.mat-tab-label {

  font-size: 14px;
  color: #797B80;
}

.mat-tab-label-active .mat-tab-label-content {
  color: #3070ff !important;
}

.mat-tab-body-content {
  padding: 15px;
}

.notification {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.notification-counter {
  background: #F8A92F;
  width: 14px;
  height: 14px;
  display: inline-block;
  text-align: center;
  font-size: 8px;
  line-height: 14px;
  font-weight: 600;
  border-radius: 50%;
  position: absolute;
  top: 0;
  right: -3px;
}

.noti {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background: #3070ff;
  text-align: center;
  line-height: 35px;
}

.noti.noti-green {
  background: #60C798;
}

.noti-data {
  background: #fff;
  border-radius: 5px;
  min-width: 407px;
  font-size: 14px;
}

.noti-right span+span {
  margin-left: 20px;
}

.noti-left {
  margin-right: 10px;
}

.noti-wrapper {
  padding: 10px;
  transition: 300ms all;
  overflow: hidden;
}

.noti-wrapper:hover {
  background: rgba(64, 128, 254, 0.1);
}

.noti-wrapper+.noti-wrapper {
  border-top: 1px solid #EDEDF3;
}

.noti-right p {
  font-weight: 500;
  margin-bottom: 0;
  color: #384053;
}

.noti-right span {
  color: #797B80;
  font-size: 12px;
}

.noti-data {
  background: #fff;
  border-radius: 5px;
  width: 407px;
  font-size: 14px;
  position: absolute;
  z-index: 99;
  top: 120%;
  visibility: hidden;
  opacity: 0;
  transition: 300ms all;
  box-shadow: 0 2px 90px rgba(38, 80, 119, 0.2);
  white-space: break-spaces;
  line-height: 1.5;
  font-size: 14px;
}

.notification:hover .noti-data {
  top: 100%;
  visibility: visible;
  opacity: 1;
}


button.tox-tbtn svg {
  fill: #3070ff !important;
}

button.tox-tbtn:hover svg {
  fill: #fff !important;
}

.tox .tox-tbtn--enabled svg {
  fill: #fff !important;
}

.mat-step-header .mat-step-icon {
  border-radius: 50%;
  height: 50px;
  width: 50px;
  background: #dbe5ff;
  opacity: 1;
  flex: 0 0 50px !important;
  max-width: 50px !important;
}

.mat-step-header .mat-step-icon-state-number.mat-step-icon.mat-step-icon-selected {
  opacity: 1;
}

.mat-step-header .mat-step-icon .mat-step-icon-content {
  border-radius: 50%;
  height: 33px;
  width: 33px;
  background: rgb(150, 182, 255);
  text-align: center;
  line-height: 33px;
  flex: 0 0 33px !important;
  max-width: 33px !important;
}

.mat-step-header {
  max-width: 50px;
}

.policy-alertbox {
  box-shadow: 0 2px 90px rgba(38, 80, 119, 0.1) !important;
  border-radius: 5px;
  padding: 0;
}

.policy-alertbox .noti {
  background: #60C798;
  width: 80px;
  height: 80px;
}

.noti-green {
  background: #60C798;
}

.noti-info {
  background: #4080FE;
}

.noti-warn {
  background: #F8A92F;
}

.noti-error {
  background: #FF785A;
}

.policy-alertbox .noti {
  border-radius: 5px 0px 0px 5px;
}

.tox .tox-tbtn:hover svg {
  fill: #4080FE !important;
}

button.tox-tbtn:hover,
.tox .tox-tbtn--enabled {
  background: rgba(48, 112, 255, 0.2) !important;
  cursor: pointer;
}

.just-dot {
  background: #3070ff;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  position: absolute;
  top: 0;
  right: 0;
}

.noti-right {
  position: relative;
}

.noti.noti-warn {
  background: #4080FE;
}

.noti.noti-error {
  background: #FF785A;
}

.noti.noti-info {
  background: #F8A92F;
}

.alert-wrap .noti {
  position: relative;
}

.alert-wrap .noti img {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 43px;
  z-index: 1;
  left: 0;
  right: 0;
  margin: 0 auto;
}


.alert-wrap .noti-right p {
  font-weight: 600;
}

.alert-wrap .noti-right span {
  font-weight: 500;
}

.alert-close {
  position: absolute;
  right: 6px;
  cursor: pointer;
}

.alert-wrap .noti-right {
  width: 100%;
  padding: 10px 30px 10px 0;
}

.after-login-header .notification {
  position: relative;
  display: inline-block;
  cursor: pointer;
  position: relative;
  top: 8px;
  margin: 0 10px;
}

.after-login-header .noti-data {
  right: 0;
}

@media(max-width:1199px) {
  .d-flex.row.mt-10.flex-wrap.grid-2.full-width {
    flex: 0 0 100%;
    max-width: 100%;
  }
}


@media(max-width:767px) {
  .mat-tab-label .mat-tab-label-content {
    font-size: 12px !important;
  }

  custom-select.min-width>div {
    min-width: 150px;
  }

  .menu-bar-header {
    padding: 0 !important;
  }

  .pd30 {
    padding: 20px !important;
  }

  .mat-tab-label {
    padding: 0 9px !important;
  }

  .mat-horizontal-stepper-header {
    padding: 0 !important;
  }

  .mat-horizontal-content-container {
    font-size: 14px;
    padding: 0 !important;
  }

  .noti-data {
    min-width: 260px;
    width: 100%;
  }

  .noti-right p {
    font-size: 13px;
  }
}


.custom-stepper .mat-step-header.cdk-keyboard-focused,
.custom-stepper .mat-step-header.cdk-program-focused,
.custom-stepper .mat-step-header:hover {
  background-color: transparent !important;
}

.custom-stepper .mat-step-header-ripple.mat-ripple {
  display: none !important;
}


.mat-step-header .mat-step-icon-state-number.mat-step-icon.mat-step-icon-selected {
  background: #9fbfff;
}

.mat-step-header .mat-step-icon-state-number.mat-step-icon.mat-step-icon-selected .mat-step-icon-content {
  background: #4080fe;
}

.mat-step-header .mat-step-icon .mat-step-icon-content span {
  display: flex;
  justify-content: center;
  align-items: center;
}

.alert-wrap .noti-wrapper:hover {
  background: #fff;
}

.custom-scroll {
  overflow: auto;
  height: 160px;
}

.pd30 {
  padding: 30px;

  tr.mat-header-row.ng-star-inserted {
    display: none;
  }
}

.table-grp .row.mt-10 {
  border-bottom: 1px solid #ccc;
  padding-top: 30px;
}

.color-header .colored-th tr td:first-child {
  color: #4080fe;
  font-weight: 500;
  font-size: 16px;
}

.mr-10 {
  margin-right: 20px;
}
