<div class="responsive-table">
  <table mat-table [dataSource]="dataSource">

    <!--  username Column -->
    <ng-container matColumnDef="username">
      <th mat-header-cell *matHeaderCellDef> {{tableMeta?.component == 'allComponent' ? ' ' : 'Username'}} </th>
      <td mat-cell *matCellDef="let element"> {{element.username}} </td>
    </ng-container>

    <!--  nameCompany Column -->
    <ng-container matColumnDef="nameCompany">
      <th mat-header-cell *matHeaderCellDef> {{tableMeta?.component == 'allComponent' ? ' ' : 'Name/Company'}} </th>
      <td mat-cell *matCellDef="let element"> {{element.nameCompany}} </td>
    </ng-container>

    <!--  apiKey Column -->
    <ng-container matColumnDef="apiKey">
      <th mat-header-cell *matHeaderCellDef> {{tableMeta?.component == 'allComponent' ? ' ' : 'API Key'}} </th>
      <td mat-cell *matCellDef="let element"> {{element.apiKey}} </td>
    </ng-container>

    <!--  totalQueries Column -->
    <ng-container matColumnDef="totalQueries">
      <th mat-header-cell *matHeaderCellDef> {{tableMeta?.component == 'allComponent' ? ' ' : 'Total Queries'}} </th>
      <td mat-cell *matCellDef="let element"> {{element.totalQueries}} </td>
    </ng-container>

    <!--  quotesProvided Column -->
    <ng-container matColumnDef="quotesProvided">
      <th mat-header-cell *matHeaderCellDef> {{tableMeta?.component == 'allComponent' ? ' ' : 'Quotes Provided'}} </th>
      <td mat-cell *matCellDef="let element"> {{element.quotesProvided}} </td>
    </ng-container>

    <!--  policiesSold Column -->
    <ng-container matColumnDef="policiesSold">
      <th mat-header-cell *matHeaderCellDef> {{tableMeta?.component == 'allComponent' ? ' ' : 'Policies Sold'}} </th>
      <td mat-cell *matCellDef="let element"> {{element.policiesSold}} </td>
    </ng-container>

    <!--  permissions Column -->
    <ng-container matColumnDef="permissions">
      <th mat-header-cell *matHeaderCellDef> {{tableMeta?.component == 'allComponent' ? ' ' : 'Permissions'}} </th>
      <td mat-cell *matCellDef="let element">
        <button mat-stroked-button class="btn-small" color="success">Set Permissions</button>
      </td>
    </ng-container>

    <!--  action Column -->
    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef> {{tableMeta?.component == 'allComponent' ? ' ' : 'Action'}} </th>
      <td mat-cell *matCellDef="let element">
        <button mat-stroked-button color="warn" class="btn-small">Delete</button>
      </td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>